.tempo-pay {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 4rem;
    padding-bottom: 1rem;
    overflow: hidden;

    @media only screen and (max-width: 750px) {
        padding: 2rem;
    }

    @media only screen and (max-width: 500px) {
        min-height: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 1000px;

        @media only screen and (max-width: 500px) {
            min-height: 100%;
        }

        &.mobile--bg-ig {
            display: none;

            @media only screen and (max-width: 750px) {
                display: block;
            }
        }

        &.desktop--bg-ig {
            display: block;

            @media only screen and (max-width: 751px) {
                display: none;
            }
        }

        span {
            height: 100vh !important;
            min-height: 1000px;

            @media only screen and (min-width: 1500px) {
                min-height: 1200px;
            }

            @media only screen and (max-width: 500px) {
                min-height: 100%;
            }
        }

        img {
            width: 100%;
            height: 100vh !important;
            min-height: 1000px;
            object-fit: cover;

            @media only screen and (min-width: 1500px) {
                min-height: 1200px;
            }

            @media only screen and (max-width: 500px) {
                min-height: 100%;
            }
        }
    }

    header {
        z-index: 9;
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid #ffffff;
            padding: 1rem;

            .tempo-pay--logo {
                padding-left: 2.5rem;
                width: 13rem;

                @media only screen and (max-width: 750px) {
                    padding-left: 1rem;
                    width: 10rem;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    section {
        z-index: 3;
        .tempo-pay--content {
            width: 60%;

            @media only screen and (max-width: 500px) {
                width: 70%;
            }

            .headline {
                font-size: 96px;
                line-height: 90px;
                color: #ffffff;
                margin: 0;
                margin-bottom: 2rem;

                @media only screen and (max-width: 750px) {
                    font-size: 32px;
                    line-height: 30px;
                }

                @media only screen and (max-height: 750px) and (min-width: 500px) {
                    font-size: 52px;
                    line-height: 50px;
                }
            }

            p {
                font-size: 24px;
                line-height: 28px;
                color: #ffffff;
                margin: 0;

                @media only screen and (max-width: 750px) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            .tempo-pay--cta {
                margin-top: 6rem;

                @media only screen and (max-width: 750px) {
                    margin-top: 3rem;
                }

                p {
                    font-size: 24px;
                    line-height: 28px;
                    color: #ffffff;
                    margin: 0;
                    margin-bottom: 2rem;

                    @media only screen and (max-width: 750px) {
                        font-size: 18px;
                        line-height: 20px;
                    }
                }

                button {
                    background-color: #FFE76A;
                    border-radius: 8px;
                    border: none;
                    width: 216px;
                    height: 58px;
                    font-size: 20px;
                    line-height: 27px;
                    cursor: pointer;
                }
            }
        }
    }
}